body {
    margin: 0;
    padding: 0;
  }
  
  .parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fondo {
    position: absolute;
    top: 100vh; 
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 60px
  }
  

  .capa1 {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 60px
  }
  
  .capa2 {
    position: absolute;
    top: 100vh; 
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 60px
  }
  
