/*Curso: Programación creativa para Diseño
Profesor: Ricardo Vega
Ayudante: Paula Santa María y Pía
Entrega: P2-Grupo; Anaí Araya,Isidora Gómez, Tere Gutierrez, Sofía Rizzoli, Fernanda Villarroel*/
@font-face {
  font-family: 'MiFuenteLocal';
  src: url('Pencil-Regular.ttf') format('truetype');
}

*{
    cursor: url(cursor.png), auto;
   /* overflow-y: hidden;  */
}

 .tituloarriba {
  font-family: 'MiFuenteLocal';
  font-size: 400px;
  margin: center; 
     
}

div.pantalla {
    text-align: center;
    margin-top: 100px;
   overflow-x: hidden;
}

div.screen {
    width: 100vw;
    height: 100vh; 
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

div.screen#ancla3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  position: relative;
  
}

div#ancla3 p{
  font-family: 'MiFuenteLocal', Arial, sans-serif;
  font-size: 50px;
  margin: 0px;
  position: absolute;
  left:0px;
  right: 100px;
  top:100px;
}

  @font-face { 
   src: url(Fonts/LittlePaws.ttf);
   font-family: tipografia; }


   .blink {
   text-align: center;
   padding: 20px;
   margin-top: 100px;
   font-family: 'MiFuenteLocal';
   font-size: 250px;
   animation: blinker 1.0s linear infinite;
   color: #ff6a00;
    
    }
   @keyframes blinker {
   70% {
   opacity: 0;
   }
     
