/*Curso: Programación creativa para Diseño
Profesor: Ricardo Vega
Ayudante: Paula Santa María y Pía
Entrega: P2-Grupo; Anaí Araya, Isidora Gómez, Tere Gutierrez, Sofía Rizzoli, Fernanda Villarroel*/


/* fuente para letra de la canción */
@font-face {
  font-family: 'MiFuenteLocal';
  src: url('Pencil-Regular.ttf') format('truetype');
}

body{
  cursor: url('cursor.png'), auto;
  height: 18px;
  weight: 18 px;
}
  
  
  
/*overflow-y: hidden; */
overflow-x: hidden; 
}

.tituloarriba {
 font-size: 60px;
 font-family: 'MiFuenteLocal';
 text-align: center;
 padding: 300px;
 margin-top: 60px;
 margin-bottom: 100px;
 float: none;
     
}

/* modificamos el que estaba en https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation2 
decidimos ponerle animación intermitente para que se entienda que el usuario debe interactuar para que empiece la canción*/

.tituloabajo {
 font-size: 60px;
 font-family: 'MiFuenteLocal';
 text-align: center;
 padding: 20px;
 margin-top: -200px;
 animation: blinker 1.0s linear infinite;
 float: none;
 margin-right: -17px;
}
/* se utiliza para regular la intermitencia */
@keyframes blinker {
  70% {
  opacity: 0;
  }
}

#botonplay {
  padding: 50px;
  transition: transform .2s;
  margin: 0 auto;
}

 
#botonplay:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(0.9); 
}

div.pantalla {
   text-align: center;
   margin-top: 100px;
   overflow-x: hidden;
}

div.screen {
    width: 100vw;
    height: 100vh; 
}

div#ancla1 p{
  font-size: 60px;
  font-family: 'MiFuenteLocal';
  text-align: center;
  padding: 20px;
  margin-top: -100px;
  float: none;
  margin-right: -17px;

}

div#ancla2 p{
  font-size: 60px;
  font-family: 'MiFuenteLocal';
  text-align: center;
  padding: 20px;
  margin-top: -100px;
  float: none;
  margin-right: -17px;

}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}


.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

div.screen#ancla3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;

}

.screen#ancla3 img {
  margin: 0px;
  position: absolute;
  top: 40px;
  left:350px;
  padding: 0%;
}

div#ancla3 p{
  font-family: 'MiFuenteLocal', Arial, sans-serif;
  font-size: 40px;
  margin: 0px;
  position: absolute;
  top: 150px;
  left:800px;
  padding: 0%;

}

div#ancla4 p{
  font-family: 'MiFuenteLocal', Arial, sans-serif;
  font-size: 40px;
  margin: 0px;
  position: absolute;
  top: 420px;
  left:750px;
  padding: 0%;

}

div.screen#ancla4 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;

}

.screen#ancla4 img {
  margin: 0px;
  position: absolute;
  top: 80px;
  left:200px;
  padding: 0%;
}

div.screen#ancla5 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;

}

div#ancla5 p{
  font-family: 'MiFuenteLocal', Arial, sans-serif;
  font-size: 40px;
  margin: 0px;
  position: absolute;
  top: 150px;
  left:540px;
  padding: 0%;

}

.screen#ancla5 img {
  margin: 0px;
  position: absolute;
  top: 100px;
  left:200px;
  padding: 0%;
}

div.screen#ancla5b {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 0px;

}

div#ancla5b p{
  font-family: 'MiFuenteLocal', Arial, sans-serif;
  font-size: 40px;
  margin: 0px;
  position: absolute;
  top: 160px;
  left:860px;
  padding: 0%;

}

.screen#ancla5b .perros {
  margin: 0px;
  position: absolute;
  top: 100px;
  left:200px;
  padding: 0%;
}

.screen#ancla5b .gato {
  margin: 0px;
  position: absolute;
  top: 150px;
  left:500px;
  padding: 0%;
}

div.screen#ancla6 {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 0px;

}

div#ancla6 p{
  font-family: 'MiFuenteLocal', Arial, sans-serif;
  font-size: 40px;
  margin: 0px;
  position: absolute;
  top: 160px;
  left:560px;
  padding: 0%;

}

.screen#ancla6 img {
  margin: 0px;
  position: absolute;
  top: 100px;
  left:345px;
  padding: 0%;
}

div.screen#ancla6b {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 0px;

}

div#ancla6b p{
  font-family: 'MiFuenteLocal', Arial, sans-serif;
  font-size: 40px;
  margin: 0px;
  position: absolute;
  top: 160px;
  left:560px;
  padding: 0%;

}

.screen#ancla6b img {
  margin: 0px;
  position: absolute;
  top:-50px;
  left:230px;
  padding: 0%;
}

div.screen#ancla7 {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 0px;

}

div#ancla7 p{
  font-family: 'MiFuenteLocal', Arial, sans-serif;
  font-size: 40px;
  margin: 100px;
  position: absolute;
  top: 360px;
  left:560px;
  padding: 0%;

}

.screen#ancla7 img {
  margin: 100px;
  position: absolute;
  top:100px;
  left:230px;
  padding: 0%;
}

/*aqui terminan las imagenes con texto*/


/* fuente para doggy style */
  @font-face { 
   src: url(LittlePaws.ttf);
   font-family: 'tipografia'; }

/* texto doggy style, utilizamos dos animaciones, una para que cambie de color y la otra para que se rote levemente*/
   .blink {
   text-align: center;
   padding: 20px;
   margin-top: 100px;
   font-family: 'tipografia';
   font-size: 250px;
   animation: cambiacolor 1s infinite, tilt-shaking 1s infinite;
   animation-fill-mode: forwards;
}

  /* sacado de https://unused-css.com/blog/css-shake-animation/ y  modificado con más colores y otra intermitencia*/
  @keyframes cambiacolor {
  0%   {color: red;}
  20%  {color: yellow;}
  40%  {color: blue;}
  60% {color: green;}
  80% {color: hotpink;}
  90% {color: orange;}
  100% {color: purple;}
}
/* sacado de https://unused-css.com/blog/css-shake-animation/*/
  @keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

 .gato {
  animation: horizontal-shaking  0.2s infinite;
  animation-fill-mode: forwards;
  
}
  @keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}


.hidden {
  opacity:0;
}
.console-container {
 
  font-family:'MiFuenteLocal';
  font-size:4em;
  text-align:center;
  height:600px;
  width:600px;
  display:block;
  position:relative;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  top:-0.14em;
  left:10px;
}
     
